<<<<<<< HEAD
/*path {
  stroke: #fff;
}*/
body {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #fff;
    height: 700px;
    margin-top: 10px;
  }
  #bigcontainer {
    width: 1400px;
    position: absolute;
    height: 700px;
  }
  #main {
    float: left;
    width: 960px;
  }
  
  #sidebar h1 {
    display: inline-block;
    width: auto;
    margin-left: 10px;
  }

 #sidebar select {
    display: inline-block;
    float: right;
    width: auto;
    margin-right: 10px;
  }
  
  #sequence {
    width: 960px;
    height: 80px;
  }
  
  #legend {
    padding: 10px 0 0 3px;
  }
  
  #sequence text, #legend text {
    font-size: 0.9em;
    font-weight: 600;
    fill: #fff;
  }
  
  #chart {
    position: relative;
  }
  
#inner {
    stroke: #fff;
  }
  
 #explanation {

    position: absolute;
    top: 270px;
    width: 200px;
    
    text-align: center;
    color: #666;
    z-index: -1;
  }
  
  #percentage {
    font-size: 1.2em;
line-height:100%;
  }
  #endlabel text{
    font-size: 1.7em;
    color: #666;
  }
  #endlabel2 text{
    font-size: 1.7em;
    color: #666;
  }
  .label {
    font-size: 0.8em;
    color: #666;
  }
 #counties {
    font-family: 'Saira Extra Condensed' ;
    font-size: 1.2em;
  }
  #brackets {
    stroke: #666;
  }
  #spin-area{
    margin-top:20px;
    height:100px;
    width:100px;
    background-color: #FFF;
    border-radius: 3px;
  }
 #inner.N {
    fill: grey;
  }
=======
/*path {
  stroke: #fff;
}*/
body {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #fff;
    height: 700px;
    margin-top: 10px;
  }
  #bigcontainer {
    width: 1400px;
    position: absolute;
    height: 700px;
  }
  #main {
    float: left;
    width: 960px;
  }
  
  #sidebar h1 {
    display: inline-block;
    width: auto;
    margin-left: 10px;
  }

 #sidebar select {
    display: inline-block;
    float: right;
    width: auto;
    margin-right: 10px;
  }
  
  #sequence {
    width: 960px;
    height: 80px;
  }
  
  #legend {
    padding: 10px 0 0 3px;
  }
  
  #sequence text, #legend text {
    font-size: 0.9em;
    font-weight: 600;
    fill: #fff;
  }
  
  #chart {
    position: relative;
  }
  
#inner {
    stroke: #fff;
  }
  
 #explanation {

    position: absolute;
    top: 270px;
    width: 200px;
    
    text-align: center;
    color: #666;
    z-index: -1;
  }
  
  #percentage {
    font-size: 1.2em;
line-height:100%;
  }
  #endlabel text{
    font-size: 1.7em;
    color: #666;
  }
  #endlabel2 text{
    font-size: 1.7em;
    color: #666;
  }
  .label {
    font-size: 0.8em;
    color: #666;
  }
 #counties {
    font-family: 'Saira Extra Condensed' ;
    font-size: 1.2em;
  }
  #brackets {
    stroke: #666;
  }
  #spin-area{
    margin-top:20px;
    height:100px;
    width:100px;
    background-color: #FFF;
    border-radius: 3px;
  }
 #inner.N {
    fill: grey;
  }
>>>>>>> a04f4286b1df22239adb9e6efa0ca6e595d48d93
